/src/.vs
/.vs
/src/Services/Identity/Identity.API/obj/Debug/netcoreapp2.1
/src/Services/Identity/Identity.API/obj
/src/Services/Identity/Identity.Domain/obj
/src/Services/Identity/Identity.Infrastructure/obj
